<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <div>
        <a href="/"> 홈으로</a>
        <h3>회원수정 페이지</h3>
        <form>
          이름 : <input type="text" class="mname"> </br>
          전화번호 : <input type="text" class="mphone"> </br>
          <button onclick="onUpdate()" type="button">수정</button>
        </form>
      </div>

      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="/js/update.js" type="text/javascript"></script>
</body>
</html>