<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div style="background-color : gray;">
        <h3> [ 리액트 적용전까지 ] 헤더 부분입니다.</h3>
        <div class="infobox">
            <a href="/member/signup"> 회원가입 </a>
            <a href="/member/login"> 로그인 </a>
        </div>
        <a href="/"> 홈으로</a>
    </div>

    <div>
        <h3> [ 리액트 적용전까지 ] 본문 부분입니다.</h3>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member.js" type="text/javascript"></script>
</body>
</html>